*, *::before,*::after{  box-sizing: border-box; 
font-family: 'Inter', sans-serif;
text-align: center;
}
body,html{
    margin: 0;
    padding: 0;
    background: #1F2937;}
body{
    max-width: 40rem;
    margin: auto;
}
.lilac{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #6943FF;
   color: #FFFFFF;}

button{
   padding: 0.75rem 1.75rem;
    border-radius: 0.3rem;
    border: none;
    margin: 1em auto;
    color: #3D3D3D;}

input{
  margin: 1rem auto;
    width: 8rem;
    font-weight: 800;
    color:#FFFFFF;
    background-color: #6943FF;
    font-size: 3.6rem;    
   border: 0.125rem solid  #B295FF;
    border-radius: 0.25em;
    padding: 1.5rem;
}

#length-el,#volume-el,#mass-el{
    background: #273549;
    margin:1.5rem 1rem ;
    padding: 0.5rem 1rem 1rem 1rem;}

h3{
 color: #CCC1FF;   
 font-weight: 600;
 font-size: 1.25rem;
 margin-bottom: 0;
}


p{
    font-size: 0.875rem;
    color: white;
    font-weight: 400;
}