*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
     text-align: center;
}

body,html{
  padding: 0;
  margin: 0;
   
   background-color:#1F2937;
    
    
}

#lilac-body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
    background-color:#B295FF;
 
 
    
}

h1{
     font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px black;
    
}
  
Button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;
padding: 0.5em 2em;
 
   background-color: white;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
   border-radius: 5px;
}
#input-el{
    font-weight: 800;
font-size: 3.625rem;    
color:white;
width: 10rem;
height: 10rem;
background: #B295FF;
border: 2px solid white;
border-radius: 5px;
text-align: center;

}


#length-el, #volume-el, #mass-el{
    margin: 2em auto;
text-align: center;
background: #273549;
  color: white; 
  font-weight: "Semi-bold"; 
 padding: 1.25em;
 min-width: 40%; 
 max-width: 40em;
}